.div{
    margin: 20px;
    border: solid black 0.1px;
    box-shadow: 0 0 5px 2px rgb(231, 219, 219);
    height: 100px;
    width: 300px;
    border-radius: 10px;
}
.div input {
    border-radius: 5px;
}
.div button {
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(216, 53, 167);
}
.map li{
    border: solid black 0.1px;
    box-shadow: 0 0 5px 2px rgb(158, 156, 156);
    width: 300px;
    margin: 20px;
}
.map button {
    color: white;
    border-radius: 5px;
    margin-left: 120px;
    background-color: rgb(216, 53, 167);

}